# This Playbook creates an 'aliases' file that can be referenced in the ~/.bashrc
# The use of these short aliases would make it easier to SSH into the instances
# and create tunnels
#
- name: Create the 'aliases' files (optional)
  hosts: localhost
  connection: local
  gather_facts: false
  tasks:
    - name: EC2 Instance Info
      ec2_instance_info:
        instance_ids: "{{ instance_ids }}"
        region: "{{ region }}"
        aws_access_key: "{{ aws_access_key }}"
        aws_secret_key: "{{ aws_secret_key }}"
      register: ec2

    - name: Construct the public DNS list
      set_fact:
        servers_list: "{{ servers_list | default([]) + [ item.public_dns_name ] }}"
      with_items:
        - "{{ ec2.instances }}"

    - name: Write the '.aliases' file
      template:
        src: ../templates/ec2/aliases
        dest: "{{ home_dir }}/.aliases"
        mode: '0644'
      vars:
        servers: "{{ servers_list }}"
